CREATE DATABASE IF NOT EXISTS pg4100innlevering2;

DROP TABLE IF EXISTS bokliste;

CREATE TABLE bokliste (
forfatter CHAR(20),
tittel CHAR(80) default 'ukjent',
ISBN CHAR(20),
sider INT(5),
utgitt INT(4),
Primary Key (ISBN));

